.aboutCon {
    display: flex;
}

.aboutCon h1{
    font-size: 2.5rem;
}
.aboutCon h2{
    font-size: 1.8rem;
}
.aboutCon p{
    font-size: 1.3rem;
}

.aboutTextCon {
    width: 100%;
    height: 100vh;
    padding: 30px;
    overflow-y: scroll;
    padding-bottom: 10rem;
    /* background-color: red; */
}


.selfImg {
    max-height: 100vh;
    /* transform: translateY(6rem); */
}

.aboutButtonsCon {
    /* margin-top: 90px; */
    width: 80%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
}
.button {
    border-radius: 15px;
    background-color: var(--orange);
    padding: 10px;
    min-width: 20%;
    text-align: center;
}

.button:hover {
    filter: brightness(110%);
}

.button a {
    font-size: 1.5rem;
}

@media screen and (max-width: 1060px) {
    .aboutCon {
        position: relative;
        flex-direction: column;
    }
    .selfImg {
        width: 100%;
        max-height: none;
        transform: translateY(-10vw);
        filter: brightness(.6);
    }
    .selfImgDiv {
        width: 100vw;
        height: 100vh;
        overflow-y: hidden;
    }

    #aboutme {
        padding-top: 8vw;
        position: absolute;
        background: rgba(0, 0, 0, 0);
        height: 100%;
        max-height: 100%;
    }
    .aboutButtonsCon {
        margin-bottom: 0;

    }
    .button {
        padding: 8px;
        min-width: fit-content;
        text-align: center;
    }
    .button a {
        font-size: 1rem;
    }
}